  /* General styles */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

@font-face {
font-family: koodak;
src: url(../public/fonts/koodak.ttf);
}
@font-face {
font-family: bassam;
src: url(../public/fonts/bassam.ttf);
}

body {
background-image: url("../public/rice.jpg");
background-size: cover;
color: #1c1818;
font-weight: bold;
font-family: koodak;
}

form {
margin: 2em auto;
width: 95%;
max-width: 700px;
background-color: rgba(49, 203, 155, 0.8);
border-radius: 10px;
padding: 1em;
box-shadow: 2px 2px 5px #23282c;

}
option{
text-align: center;
color: #090909;
font-size: 18px;
}

.select{
margin: 2em 1em;
width: 95%;
font-size: 16px;
max-width: 700px;
background-color: rgba(236, 239, 141, 0.8);
border-radius: 10px;
padding: 1em;
box-shadow: 2px 2px 5px #085d92;
font-family: koodak;
text-align: center;
}

.submit_but{
background-color: #eca025;
color: #110d0d;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-size: 18px;
font-family: koodak;
cursor: pointer;
transition: background-color 0.2s ease;
box-shadow: 2px 2px 5px #080808;
}
.submit_but[type="submit"]:hover {
  background-color: #d1f824;
}


h1 {
  text-align:center;
  color: #2310ba;
  font-size: 3em;
  font-family: bassam;
  margin: 1em auto;
  width: 95%;
  max-width: 450px;

  background-color: rgba(14, 203, 93, 0.7);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
}

h2 {
  text-align:center;
  color: #2310ba;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  width: 95%;
  max-width: 800px;
  background-color: rgba(146, 210, 19, 0.814);
  border-radius: 10px;
  padding: 0.1em;
  box-shadow: 2px 2px 5px #080808;
  }

  
h3 {
  text-align:right;
  color: #050409;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  width: 95%;
  max-width: 800px;
  background-color: rgba(146, 210, 19, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  }

h4{
  font-size: .85em;
}


h5{
  text-align:center;
  color: #2310ba;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  min-width: 300px;
  max-width: 450px;
  background-color: rgba(210, 194, 19, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  
}

h6{
  text-align:center;
  color: #090715;
  font-size: 1em;
  font-family: koodak;
  margin: auto auto;
  max-width: 800px;
  min-width: 300px;
  background-color: rgba(19, 194, 210, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  
}

.info{
  width: 90%;
}


.dual-text {
  display: flex;
  justify-content: space-between;
 
}

.dual-text span {
  text-align: left;
  direction: rtl;
}


.return_button{
  margin: 1em auto;
  background-color: #eca025;
  color: #110d0d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-family: koodak;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
}


.return_button:hover {
  background-color: #d1f824;
}


form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form input[type="text"],
form input[type="tel"],
form input[type="email_"],
form textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #37ef26;
  font-family: koodak;
  color: #010306;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
}

form button[type="submit"]:hover {
  background-color: #2e8b57;
}

/* Flash message styles */
.flash-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}


footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(44, 112, 71);
  color: white;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  
  text-align: center;
}


/* price tage styles */
.price-tag {
  background-image: url('../public/static/media/blue_tag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 10px;
  padding: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  animation: cloud .7s ease-in-out infinite alternate;
  z-index: 99999;
  margin: -10em auto;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.price-tag:hover {
  filter: brightness(80%);
}

.price {
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-shadow: 1px 1px #333;
  position:relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(1350deg);
  
}
.container {
  position: relative;
  /* margin: .01em 5em; */
}

.title {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
}

.price-tag-container {
  position: absolute;
  top: 160%;
  left: 35%;
  transform: translateX(-50%) rotate(90deg);
}


@keyframes cloud {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
