  /* General styles */
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

@font-face {
font-family: koodak;
src: url(../public/fonts/koodak.ttf);
}

@font-face {
  font-family: vazir;
  src: url(../public/fonts/Vazirmatn-SemiBold.ttf);
  }
@font-face {
font-family: bassam;
src: url(../public/fonts/bassam.ttf);
}

@font-face {
  font-family: entezar;
  src: url(../public/fonts/mesr.ttf);
  }

body {
background-image: url("../public/rice.jpg");
background-size: cover;
color: #1c1818;
font-weight: bold;
font-family: koodak;
}

form {
margin: 2em auto;
width: 95%;
max-width: 700px;
background-color: rgba(49, 203, 155, 0.8);
border-radius: 10px;
padding: 1em;
box-shadow: 2px 2px 5px #23282c;

}
option{
text-align: center;
color: #090909;
font-size: 18px;
}

.select{
margin: 1em 1em;
width: 95%;
font-size: 16px;
max-width: 700px;
background-color: rgba(236, 239, 141, 0.8);
border-radius: 10px;
padding: .1em;
box-shadow: 2px 2px 5px #085d92;
font-family: koodak;
text-align: center;
}

.select_city{
  margin: .5em 0em;
  margin-top: 0;
  width: 30%;
  font-size: 16px;
  max-width: 300px;
  background-color: rgba(236, 239, 141, 0.8);
  border-radius: 10px;
  padding: .3;
  box-shadow: 2px 2px 5px #085d92;
  font-family: koodak;
  text-align: center;
  height: 32px; /* Set a fixed height */
  overflow: scroll; /* Enable scrolling */
  }

.submit_but{
background-color: #eca025;
color: #110d0d;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-size: 18px;
font-family: koodak;
cursor: pointer;
transition: background-color 0.2s ease;
box-shadow: 2px 2px 5px #080808;
margin-top: .5em;
}
.submit_but[type="submit"]:hover {
  background-color: #d1f824;
}


.edit_amount{
  background-color: rgba(236, 239, 141, 0.8);;
  color: #110d0d;
  border: none;
  padding: 1.5px 4px;
  border-radius: 5px;
  font-size: 15px;
  font-family: koodak;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
  margin-top: .5em;
  margin-right: 15px;
  min-width: 50px;
  }
  .edit_amount:hover {
    background-color: #d1f824;
  }


h1 {
  text-align:center;
  color: #2310ba;
  font-size: 3em;
  font-family: bassam;
  margin: 1em auto;
  width: 95%;
  max-width: 450px;

  background-color: rgba(14, 203, 93, 0.7);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
}

h2 {
  text-align:right;
  color: #2310ba;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  width: 95%;
  max-width: 800px;
  background-color: rgba(146, 210, 19, 0.814);
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 2px 2px 5px #080808;
  }

  
h3 {
  text-align:right;
  color: #050409;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  width: 95%;
  max-width: 800px;
  background-color: rgba(146, 210, 19, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  }


h4{
  font-size: .85em;
  padding: 0 .5em;
}


h5{
  text-align:center;
  color: #2310ba;
  font-size: 1.2em;
  font-family: koodak;
  margin: 1em auto;
  min-width: 300px;
  max-width: 450px;
  background-color: rgba(210, 194, 19, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  
}

h6{
  text-align:center;
  color: #090715;
  font-size: 1em;
  font-family: koodak;
  margin: auto auto;
  max-width: 800px;
  min-width: 300px;
  background-color: rgba(19, 194, 210, 0.814);
  border-radius: 10px;
  padding: .15em;
  box-shadow: 2px 2px 5px #080808;
  
}

.info{
  width: 90%;
  text-align: justify;
  padding: 1em;
}

.info-title{
  background-color: rgba(26, 183, 29, 0.814);
  color: #090715;
  width: 50px;
  margin-bottom: 2em;
  padding-bottom: .5em;
  
}


.dual-text {
  display: flex;
  justify-content: space-between;
 
}

.dual-text span {
  text-align: left;
  direction: rtl;
}


.return_button{
  background-color: #eca025;
  color: #110d0d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-family: koodak;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
  margin-top: 1em;
  margin-bottom: 2em;
  
}


.return_button:hover {
  background-color: #d1f824;
}


form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form input[type="text"],
form input[type="tel"],
form input[type="email_"],
form textarea {
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-family: koodak;
}

form button[type="submit"] {
  background-color: #37ef26;
  font-family: koodak;
  color: #010306;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
}

form button[type="submit"]:hover {
  background-color: #2e8b57;
}

.change-but{background-color: rgba(233, 234, 214, 0.8);;
  color: #110d0d;
  border: none;
  padding: 1px 3px;
  border-radius: 5px;
  font-size: 15px;
  font-family: koodak;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 5px #080808;
  margin-top: .5em;
  margin-left: 7px;
  min-width: 40px;
  }
  .change-but:hover {
    background-color: #d1f824;
  }

.change-input{
  padding: .3em .3em;
  width: 115px;
  font-family: koodak;
  border: 1px solid #093b1c;
  border-radius: 5px;

}

/* Flash message styles */
.flash-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}


footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(44, 112, 71);
  color: white;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


/* price tage styles */

.price-tag-container {
  position: absolute;
  top: 160%;
  left: 35%;
  transform: translateX(-50%) rotate(90deg);
}

.price-tag {
  background-image: url('../public/static/media/blue_tag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 10px;
  padding: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  animation: cloud .7s ease-in-out infinite alternate;
  z-index: 99999;
  margin: -10em auto;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.price-tag:hover {
  filter: brightness(80%);
}

.price {
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-shadow: 1px 1px #333;
  position:relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  
}

.container {
  position: relative;
  /* display: inline-block; */
}

.title {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
  text-shadow: 1px 1px #f8f8f8;
  animation: fade-in 1s ease-out;
  font-family: entezar;
  /* position: relative; */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes cloud {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*admin customer table css*/
.customer-table {
  border-collapse: collapse;
  width: 90%;
  font-size: 14px;
  background-color: #5ea6d5;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #201c1c;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  }
  
  .customer-table th {
  text-align: right;
  padding: 10px;
  background-color: #5c5c5c;
  border-bottom: 1px solid #ddd;
  color: #fff;
  }
  
  .customer-row {
  cursor: pointer;
  padding: 7px;
  margin: 10px 1px;
  
  }
  
  .customer-row:hover {
  background-color: #20419e;
  }
  
  .order-row {
  background-color: #abe7d1;
  }

  .order-row:hover {
    background-color: #16835b;
    }
  
  .order-row ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .order-row li {
  padding: 5px 10px;
  }
  
  .order-row li:not(:last-child) {
  border-bottom: 1px solid #ddd;
  }

  
/* admin login */
.login {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: right;
  direction: rtl;
}

.admin-but {
  padding: 8px 16px;
  font-size: 15px;
  margin: 2px 5px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  box-shadow: 2px 2px 5px #23282c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: vazir;
}

.admin-but:hover {
  background-color: #0062cc;
}

.pw-input {
  width: 200px;
  padding: 5px;
  margin-left: 2px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: koodak;
}

.admin-submit {
  margin: 4px 5px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 2px 2px 5px #23282c;
  background-color: #10a84d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-submit:hover {
  background-color: #156006;
}



.logout{
  position: fixed;
  bottom: 50px;
  left: 15px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover{
  background-color: #d32f2f;
}